<div class="container">
  <h1>NPO NAME</h1>
  <div id="nav-charity">
    <ul>
      <li id="charity-activity-link" class="active"><%= link_to 'Activity', remote: true  %></li>
      <li id="charity-restaurants-link"><%= link_to 'Restaurants', remote: true  %></li>
      <li id="charity-bank-link"><%= link_to 'Bank', remote: true  %></li>
      <li id="charity-settings-link"><%= link_to 'Settings', remote: true %></li>
    </ul>
  </div>
</div>