<div id="nav-charity-restaurants">
  <ul>
    <li id="charity-search-link" class="active"><%= link_to 'Search', remote: true %></li>
    <li id="charity-manage-link"><%= link_to 'Manage', remote: true  %></li>
  </ul>
</div>
<div>
  <div id="charity-restaurants-search" class="charity-restaurants">
  <h1>restaurants-search</h1>
  </div>

  <div id="charity-restaurants-manage" class="charity-restaurants">
    <div>
      <table class="charity-restaurants-table">
        <tr class="table-header">
          <th>Restaurant name</th>
          <th>Email</th>
          <th>Tel.Number</th>
          <th>
            <button class="btn-default">Send e-mail</button>
          </th>
        </tr>
      </table>
    </div>

    <div class="scroll-table">
      <table class="charity-restaurants-table">
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Alfreds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Berglunds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Alfreds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Berglunds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Alfreds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Berglunds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Alfreds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td>Berglunds snabbkop</td>
          <td>Berglunds@gmail.com</td>
          <td>1234567890</td>
          <td><input type="checkbox"></td>
        </tr>
      </table>
    </div>
  </div>
</div>