<div id="nav-charity-restaurants">
  <ul>
    <li id="charity-search-link" class="active"><%= link_to 'Search', remote: true %></li>
    <li id="charity-manage-link"><%= link_to 'Manage', remote: true  %></li>
  </ul>
</div>
<div>
  <div id="charity-restaurants-search" class="charity-restaurants">
  <h1>restaurants-search</h1>
  </div>

  <div id="charity-restaurants-manage" class="charity-restaurants">
    <h1>restaurants-manage</h1>
  </div>
</div>