<div class="home-banner">
  <button class="btn-default btn-large myBtn banner-button">
    Sign Up
  </button>
</div>
<div class="container home-block">
 <div class="how-it-works">
   <h1 id="hiw-h1">How It Works</h1>
   <%= image_tag('home/how_it_works.png', alt: "How it wotks image", size: "800x300") %>
 </div>
  <div class="metrics">
    <div class="metric">
      Total income <br>
      0
    </div>
    <div class="metric">
      NPO's <br>
      0
    </div>
    <div class="metric">
      Restaurants <br>
      0
    </div>
  </div>
  <div class="read-in-social">
    <h2>Read more about our objectives</h2>
    <a class="btn-default" href="http://facebook.com/foodcircles" >Facebook</a>
    <a class="btn-default" href="https://twitter.com/FoodCircless" >Twitter</a>
  </div>

  <button class="btn-default btn-large myBtn bottom_signup">
    Sign Up
  </button>
</div>
