<div class="container">
  <h1>NPO NAME</h1>
  <div id="navnpo">
    <ul>
      <li class="active"><a href="#">Activity</a></li>
      <li><a href="#">Restaurants</a></li>
      <li><a href="#">Bank</a></li>
    </ul>
  </div>
</div>
<div class= "bookmarks">
</div>