# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 60aa77ad45e06aa2cf6a517c04c055853eb3e37e15f54534d5c836a2e01eba62a4695ef4bf39c1d6103fefa6cd20970192e696843d4f5da4e99a24240db3dc79

test:
  secret_key_base: 5b0430366ae099b5cf4ba549babdd5d2d0919d54dc9a66899d19dce6158be5b537891bab417a2e1fc9e688026a3fb40fca7fde3c8536f5d3b78adfd14b844bd2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
